.wrapper
    .left-side(ng-class="{'collapsed': application.collapsedMode}")
      .user-info(ng-class="{'collapsed': application.collapsedMode}")
        .avatar(ng-class="{'collapsed': application.collapsedMode}")
           img(ng-src="{{application.Author.avatar}}")
        .info(ng-class="{'collapsed': application.collapsedMode}")
           h4.welcome
            small.color-lime Quản lý <br />
            | {{application.Author.account.displayName}}
        .commands: a.pumpkin.btn(href="/logout"): i.fa.fa-power-off
      ul.sidebar-menu
        li(ng-class="{active: application.currentUrl == item.url}", ng-repeat="item in application.navs")
          a(href="#{{item.url}}")
            i(ng-class="item.icon")
            span {{item.title}}
    .right-side(ng-view, ng-class="{'collapsed': application.collapsedMode}")
