header(ng-controller="headerCtrl as header")
  nav.navbar.navbar-static-top(role="navigation", ng-class="{'collapsed': application.collapsedMode}")
      .logo(ng-class="{'collapsed': application.collapsedMode}")
        //a.sidebar-toggle(href="", ng-click="application.toggleCollapse()"): i.fa.fa-bars
        //.commands.ng-hide(ng-show="true")
        //  a.lime.btn(href="")
        //    i.fa.fa-wrench
        span(ng-class="{'collapsed': application.collapsedMode}") {{application.Author.merchant.name}}
      .navbar-left
        .navbar-devider
        ul.nav.navbar-nav
          li: a.sidebar-toggle(href="", ng-click="application.toggleCollapse()"): i.fa.fa-bars
          li: a(href="/"): i.fa.fa-desktop
          li: span.app-caption {{application.Common.caption}}
      .navbar-right
        ul.nav.navbar-nav
          li.dropdown.menu.teal: a.dropdown-toggle(href="", data-toggle="dropdown")
            i.fa.fa-comments-o
            span.label.label-success 4
          li.dropdown.menu.peter-river: a.dropdown-toggle(href="", data-toggle="dropdown")
            i.fa.fa-bell-o
            span.label 4
          li.dropdown.menu.carrot: a.dropdown-toggle(href="", data-toggle="dropdown")
            i.fa.fa-calendar
            span.label.label-success 4
          li.dropdown.menu.gray.no-border: a.dropdown-toggle(href="", data-toggle="dropdown")
            i.fa.fa-th-list
      .navbar-form.navbar-right.search-form(role="search")
        .input-group
          span.input-group-btn: button.btn.btn-default(type="submit"): i.fa.fa-search
          input.form-control.search-box(type="text", placeholder="tìm kiếm thông minh...")
