<sky-select options="inventoryCtrl.warehouses" model="inventoryCtrl.currentWarehouse" color="pumpkin shadow"
            caption="name" change="inventoryCtrl.changeCurrentWarehouse(model)"></sky-select>

<div class="row no-margin">
  <table class="table sky-control">
    <thead>
    <th style="width: 125px">Barcode</th>
    <th>Tên</th>
    <th style="width: 60px">Loại</th>
    <th style="width: 90px">Qui cách</th>
    <th>Nhà Cung Cấp</th>
    <th>SL Nhập</th>
    <th>SL Còn</th>
    <th>Giá Nhập</th>
    <th>Ngày Hết Hạn</th>
    </thead>
    <tr ng-repeat="item in inventoryCtrl.products">
      <td>{{item.productCode}}</td>
      <td>{{item.name}}</td>
      <td>{{item.skull.unit}}</td>
      <td>{{item.skull.skull01}}</td>
      <td>{{item.provider.name}}</td>
      <td>{{item.importQuality}}</td>
      <td>{{item.instockQuality}}</td>
      <td>{{item.importPrice}}</td>
      <td>{{item.expire}}</td>

    </tr>
  </table>
</div>


